/* Estilos globales*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle at top right, #1a1c2c, #050a18);
    background-attachment: fixed;
    min-height: 100vh;
}

/*--Header--*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #050a18 0%, #24273d 100%);
    color: #3b3b3b;
    padding: 8px 48px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header div {
    display: flex;
    width: 80px;
    height: 80px;
}

header h1 {
    align-content: center;
    background: linear-gradient(90deg, #0066CC, #6A1B9A);
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    
    font-weight: bold;
    font-size: 2rem;
}

nav li{
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 4px;
}

nav a {
    color: #F8FAFC;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

nav a:hover {
    color: #00D2FF;
}

/*----------*/

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
}

h2 { /* "Conce al equipo" */
    color: #F8FAFC;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 40px;
    padding: 20px;
}

.members-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    min-height: 640px;
    padding: 12px;

    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 20px;
    padding: 32px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    transition: transform 1s;
}

.member-card:hover {
    border-color: #00D2FF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transform: translateY(-8px);
}

.member-name {   

    font-weight: 800;
    color: #1d8af6;
    padding: 32px 0;
}

.member-desc {
    color: #a0aec0;
    font-size: 0.9rem;
    line-height: 1.6;
}

.member-card img {
    filter: grayscale(100%);
    border: 2px solid #8A2BE2;
    border-radius: 100%;
}

/*--Footer--*/

footer {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 16px;
    font-size: 16px;
    gap: 80px;
    color: #F8FAFC;
    background:  #050a18;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.597);
}

footer div {
    padding-right: 80px;
    min-height: 80px;
    box-shadow: 2px 0px 0 rgba(69, 67, 67, 0.185);
}

footer a, p {
    margin-bottom: 2px;
}

.column1 {
    display: flex;
    align-items: center;
    box-shadow:
        -2px 0px 0 rgba(110, 106, 106, 0.185),
        2px 0px 0 rgba(110, 106, 106, 0.185);
    padding-left: 80px;
}

.column2 ul, .column3 ul{
    list-style-type: none;
}

.column2 li {
    text-align: start;
}

.column2 a, .column3 a {
    text-decoration: none;
    color: #F8FAFC;
}

.column2 a:hover, 
.column3 a:hover {
    color: #00D2FF;
}

.column4 p{
    display: flex;
    align-items: center;
    gap: 10px;
}