@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./style.css);

main {
    flex: 1;                  
    display: flex;
    justify-content: center;  
    align-items: center;     
}

body {
    background: radial-gradient(circle at top right, #1a1c2c, #050a18);
    background-attachment: fixed;
    margin: 0;
    color: #cbd5ff;
    background-image: url("../assets/img/contacto/Fondo_contacto.png");
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
}

body summary {
    cursor: pointer;
    font-weight: bold;
    color:#cbd5ff
}

body details[open] summary {
    color: #00D2FF;
}

body summary:hover {
    color: #00D2FF;
}

.faq-recuadro {
    background: rgb(70, 60, 156);
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.faq-recuadro h1 {
    text-align: center;
    margin-bottom: 20px;
}