@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./style.css);

body {
    background: linear-gradient(135deg, #0a0f1c, #0d1b2a);
    color: white;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}
.hero h1 {
    font-size: 42px;
}

.hero p {
    color: #dbe5f1;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    box-shadow: 0 0 15px #00c6ff;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.card {
    background: #111827;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    border: 1px solid #00c6ff;
    box-shadow: 0 0 20px rgba(0,198,255,0.4);
}

main {
    flex: 10;
}

.servicios-preview {
    text-align: center;
    padding: 60px 20px;
}

.servicios-preview p {
    max-width: 600px;
    margin: 10px auto;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.contenido {
    text-align: center;
    max-width: 500px;
}

.img-lado {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.img-lado:hover {
    transform: scale(1.05);
    transition: 0.3s;
}