@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./style.css);

body {
    background: radial-gradient(circle at top right, #1a1c2c, #050a18);
    background-attachment: fixed;
}

main {
    flex: 1;
}

.titulo-pedido {
    font-size: 2.5rem;
    color: #cbd5ff;
    text-align: center;
    margin-top: 40px;
}

.formulario {
    backdrop-filter: blur(5px);
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:#26272ad3; 
    width: 750px;             
    margin: 60px auto;
    padding: 50px;           
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;      
    box-shadow: 0 8px 30px rgba(0,0,0,0.5); 
    color: white;
    font-size: 18px;
    
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 4px solid #333333;
    border-radius: 8px;
}

#condicional, #sucursal-extra {
    display: none;
}

form:has(input#sucursal:checked) #condicional,
form:has(input#sucursal:checked) #sucursal-extra
{
    display: block;
}