@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./style.css);

body {
    background: radial-gradient(circle at top right, #1a1c2c, #050a18);
    background-attachment: fixed;
}

main {
    flex: 1;
}

.titulo-catalogo {
    text-align: center;
    color: #6A1B9A;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 40px;
}
.juego {
    margin: auto;
    display: block;
    width: 33%;
    background: #24273d;
    color: #00D2FF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    align-content: center;
    text-align: center
}
p.precio {
    font-weight: bold;
    text-decoration: underline;
}
.card-img{
    display: block;
    margin: auto;
    width: 33%;
}